/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* resetCSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/** variable **/
:root {
  --color--background: #E9ECF8;
  --color-prymary: #0A3871;
  --color-secondary: #ffffff;
  --color-shadow: #d8d4d4;
}

body {
  background-color: var(--color--background);
  min-width: 100vw;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.nav__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.nav__main__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90%;
  width: 60%;
  justify-content: space-evenly;
}

.section__text__area {
  border: none;
  width: 90%;
  min-height: 70%;
  box-sizing: border-box;
  background-color: var(--color--background);
  color: var(--color-prymary);
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.nav__encoding {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.nav__encoding p {
  width: 100%;
  padding: 5px;
}

.exclamation-sign {
  color: var(--color-secondary);
  background-color: var(--color-prymary);
  border-radius: 50%;
  padding: 1px 7px;
  font-weight: 800;
}

.btn-criptografar {
  width: 45%;
  height: 60px;
  border-radius: 24px;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-prymary);
  color: var(--color--background);
  text-align: center;
  line-height: 60px;
  font-weight: 800;
}

.btn-criptografar:hover {
  border: 2px solid var(--color-prymary);
  background-color: var(--color-secondary);
  color: var(--color-prymary);
}

.btn-descriptografar {
  width: 45%;
  border: 2px solid var(--color-prymary);
  height: 60px;
  border-radius: 24px;
  background-color: var(--color-secondary);
  color: var(--color-prymary);
  text-align: center;
  line-height: 60px;
  font-weight: 800;
}

.btn-descriptografar:hover {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-prymary);
  color: var(--color--background);
}

.btn-copiar {
  width: 70%;
  border: 2px solid var(--color-prymary);
  height: 60px;
  border-radius: 24px;
  background-color: var(--color--background);
  color: var(--color--prymary);
  text-align: center;
  line-height: 60px;
  align-self: flex-end;
  display: none;
}

.btn-copiar:hover {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-prymary);
  color: var(--color--background);
}

.aside__output {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  min-height: 100%;
  padding: 60px 5px 60px 5px;
  justify-content: center;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: 24px;
  box-shadow: 10px 10px 10px 10px var(--color--background);
  color: var(--color-prymary);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.aside__output__area {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.aside__encoded-text {
  visibility: hidden;
  text-align: justify;
}

/** SLIDE BUTTONS **/
.slide__container {
  background-color: var(--color--background);
  box-shadow: 0 5px 5px 1px var(--color-shadow);
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  min-width: 90px;
  min-height: 130px;
  display: flex;
  padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 100px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-prymary);
  background-position: center;
  background-position-y: 15%;
  background-repeat: no-repeat;
  background-size: 40%;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-theme {
  background-image: url('../assets/moon-solid.png');
}

.slider-language {
  background-image: url('../assets/es-lang-ffffff.png');
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 10px;
  bottom: 8px;
  background-color: var(--color-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--color-secondary);
  background-position: center;
  background-position-y: 80%;
  background-repeat: no-repeat;
}

input:checked+.slider-theme {
  background-image: url('../assets/sun-regular.png');
}

input:checked+.slider:before {
  background-color: var(--color-prymary);
}

input:checked+.slider:before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(-42px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/** MEDIA QUERIES **/
@media screen and (max-width: 768px) {
  body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav__main {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .nav__main__menu {
    display: flex;
    flex-direction: row;
  }

  .section__text {
    flex-grow: 1;
    width: 100%;
  }

  .section__text__area {
    flex-grow: 1;
    width: 100%;
  }

  .nav__encoding {
    width: 100%;
    flex-wrap: wrap;
  }

  .btn-copiar {
    margin-top: 20px;
  }

  .aside__output {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 30px;

  }

  .aside__search-person {
    display: none;
  }

  /** SLIDE BUTTONS 768px**/
  .slide__container {
    max-width: 130px;
    min-width: 130px;
    min-height: 90px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 60px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    background-position: left;
    background-position-x: 85%;
    background-size: 30%;
  }

  .slider-language {
    background-image: url('../assets/es-lang-ffffff.png');
  }

  .slider:before {
    bottom: 10px;
  }

  input:checked+.slider {
    background-position: right;
    background-position-x: 18%;
  }

  input:checked+.slider-theme {
    background-image: url('../assets/sun-regular.png');
  }

  input:checked+.slider:before {
    background-color: var(--color-prymary);
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(40px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

@media screen and (max-width: 602px) {
  .nav__main__row-menu {
    display: none;
  }

  .section__text {
    margin-top: 20px;
    width: 100%;
  }

  .section__text__area {
    width: 100%;
  }
}


/** MEDIA QUERIES **/
@media screen and (max-width: 400px) {
  body {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .nav__main {
    flex-direction: row;
    justify-content: space-between;
  }

  .section__text {
    margin-top: 20px;
    width: 100%;
  }

  .section__text__area {
    width: 100%;
    height: 400px;
  }

  .nav__encoding {
    width: 100%;
  }

  .nav__encoding {
    display: flex;
    flex-direction: column;
  }

  .btn-criptografar {
    width: 100%;
  }

  .btn-descriptografar {
    width: 100%;
    margin-top: 20px;
  }

  .btn-copiar {
    margin-top: 20px;
    width: 100%;
  }

  .aside__output {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 30px;

  }

  .aside__search-person {
    display: none;
  }

  /** SLIDER BUTTONS 378px**/
  .slide__container {
    max-width: 90px;
    min-width: 90px;
    min-height: 60px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    background-position: left;
    background-position-x: 85%;
    background-size: 30%;
  }

  .slider-language {
    background-image: url('../assets/es-lang-ffffff.png');
  }

  .slider:before {
    height: 20px;
    width: 20px;
  }

  input:checked+.slider {
    background-position: right;
    background-position-x: 18%;
  }

  input:checked+.slider-theme {
    background-image: url('../assets/sun-regular.png');
  }

  input:checked+.slider:before {
    background-color: var(--color-prymary);
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(30px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}